header {
    background-image: url(Image/logo.jpg.png);
    background-size: contain;
}

body {
    background-color: #f5b3b3;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f6f3f3;
}

#totals {

    margin-top: 10px;
}

#capture-button {
    margin-top: 20px;
}
/* Pour les écrans de tablette */
@media (max-width: 768px) {

    input[type="text"],
    select {
        width: 100%;
    }

    /* Ajoutez d'autres styles pour les tablettes ici */
}

/* Pour les petits écrans de mobile */
@media (max-width: 480px) {

    input[type="text"],
    select {
        width: 100%;
    }

    /* Ajoutez d'autres styles pour les petits écrans ici */
    h1 {
        font-size: 24px;
    }

    table {
        font-size: 14px;
    }
}
